.education_card_container {
  background-color: #acacac90;
  max-width: 250px;
  padding: 0.5rem;
  border-radius: 25px;
  text-align: center;
}

.education_card_container > p {
  font-size: 20px;
  text-wrap: wrap;
}

.education_card_image {
  width: 15rem;
  object-fit: cover;
}
