.education_card_container {
  background-color: var(--third-color);
  padding: 1rem;
  border-radius: 25px;
  box-shadow: 0 0 15px 3px var(--second-color);
}

.education_card_image {
  width: 15rem;
  object-fit: cover;
}
