#root {
  max-width: 1920px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: var(--eighth-color);
}

.main_section-container {
  background-color: var(--seventh-color);
  box-shadow: 0 0 15px 3px var(--second-color);
  border-radius: 25px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.contact_links_container {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 25px;
}

.education_section_container {
  background-color: var(--seventh-color);
  box-shadow: 0 0 15px 3px var(--second-color);

  padding: 1rem;
  box-sizing: border-box;
  border-radius: 25px;
}

.education_cards_container {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  border-radius: 25px;
}

.projects_cards_topic_container {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  padding: 1rem;
  border-radius: 1rem;
}

.projects_cards_container {
  background-color: var(--seventh-color);
  box-shadow: 0 0 15px 3px var(--second-color);
  border-radius: 25px;
  padding: 1rem;
  margin-top: 1rem;
}

.projects_cards_topics_container {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  padding: 1rem;
  border-radius: 25px;
}
